/* Globals */

html {
	padding:0px;
	margin:0px;
	font-family:"Trebuchet MS",Helvetica,sans-serif;
}

body {
	background-color:rgba(30, 126, 220, .2);
	padding:30px 30px 30px 30px;
	margin:0px;
	height:100%;
}

#slide {
	height:500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

ul {
	margin-block-start: 5px;
	margin-block-end: 5px;
}

li ul {
	font-size: smaller;
}

li {
	animation-duration: 500ms;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left:100%;
		width:300%;
	}

	to {
		margin-left:0%;
		width:100%;
	}
}

/* Debug colors */

#title {
	background-color:lightcoral;
}

#body {
	background-color: lightgreen;
}

#footer {
	background-color: lightseagreen;
}

/* CONTENT SLIDE */

.contentSlide #title {
	font-size: 32pt;
	text-align: center;
}

.contentSlide #body {
	flex-grow: 1;
	font-size:18pt;
	padding:10px;
}

.contentSlide #footer {
	position: relative;
	font-size: 10pt;
	text-align: right;
	vertical-align: bottom;
}

/* TITLE SLIDE */

.titleSlide #title {
	font-size: 40pt;
	text-align: center;
}

.titleSlide #body {
	visibility: collapse;
}

.titleSlide #footer {
	visibility: collapse;
}

/* SUBTITLE SLIDE */

.subtitleSlide #title {
	font-size: 32pt;
	text-align: center;
}

.subtitleSlide #body {
	visibility: collapse;
}

.subtitleSlide #footer {
	visibility: collapse;
}


#debugOutput {
	font-size: 10pt;
	font-family:monospace;
}
